/*
 * @author Deux Huit Huit
 * LICENCE: MIT http://deuxhuithuit.mit-license.org;
 */

#extension_downloader {
	padding: 1em 0;
}

#extension_downloader h3 {
	padding: 0 20px 0 0;
	margin: 0 1em 0 0;
	display: block;
}

#extension_downloader h3 a {
	float: right;
	font-size: 0.8em;
}

#extension_downloader.loading h3 {
	background: transparent url(ajax-loader.gif) no-repeat 100% 50%;	
}

#extension_downloader_results {
	padding: 1em 0;
}

#extension_downloader_results a {
	display: block;	
}

#extension_downloader_results a span {
	display: inline-block;	
}
#extension_downloader_results a span.ed_name {
	min-width: 18em;	
}
#extension_downloader_results a span.ed_version {
	min-width: 6em;	
}
#extension_downloader_results a span.ed_status,
#extension_downloader_results a span.ed_dev {
	font-size: 0.9em;
	margin-left:2em;
}
#extension_downloader_results a span.ed_status {
	min-width: 10em;
}